@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
  --white: #e0e7ed;
  --white2:#fdfdfd;
  --blue: #1576d1;
  --black: #1c0505;
  --green:#12b07b;
  --green2:#d3222be0;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    font-weight: 400;
    text-align: center;
  
}
.app {
  margin: 0px 10px;
  width: 100%;
  height: 90vh;
  color: var(--black);
  display: grid;
  margin: 0px;
  grid-template-rows: auto 1fr auto;
  gap: 2px;
}
.navbar {
  color: var(--blue);
  margin: 0px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar a {
  color: var(--blue);
}
.navbar .about{
  padding-top:22px;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: -20px 20px;
  width: 150px;
  height: 150px;
}

.logo h2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: -15px;
}

.biggerContainer{
  height: 350px;
  border-radius: 10px;
  margin: 0px 300px;
  padding: 100px 20px;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.doctor {
  margin:  0px;
  align-self: center;
  width: 500px;
  height: 600px;
}
.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items:start;
  text-align: center;
}

button, label{
  color: var(--white);
  margin:80px 20px ;
  background:var(--green) ;
  border: var(--green);
  font-size: 1.5em;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}
.upload :hover{
  background-color: var(--green2);
  
}

.checkup .page_loader{
  margin: -10px;
  width: 100%;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  align-items: center; 
  justify-content: center;
}
.checkup {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}
.checkup_navbar{
  padding: 10px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--white);
  background-color: var(--blue);
 
}
a{
  text-decoration: none;
  color: var(--white2);
}
.checkup_navbar .logo{
    display: flex;
    align-items: center
}
.checkup_navbar .logo img{
    width: 100px;
    height: 100px;
  
}
.checkup_navbar .return{
  color: var(--white2);
  font-size: 50px;
  margin: 30px 30px 0px ;
  /* margin-left: -700px ; */
  display: flex;
  justify-content: end;
  align-items: center;
}
 .cross:hover {
   color: var(--black);
 }
.container2{
  color: var(--black);
  background-color: var(--white2);
  height: 500px;
  border-radius: 10px;
  margin:20px 300px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
}
.container2 h2 p{
  align-items: start;
}
.upload{
  margin-top: 30px;
}
.container button:hover{
  background-color: var(--green2);
}
.upload label{
  margin-top: 30px;
  padding: 10px;
}
input {
  display: none;
}
.progess_main{
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 10px;
  /* align-items: start; */
  margin: 40px  auto;
  width: 400px;
}
.progess_main span{
  display: inline;

}
.progess_main li{
  text-decoration: none;
  display: inline;
}

.results{
  margin-top: 50px;
}
.results ul{
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  align-content: start;
  list-style-type: none;
}

.results li{
    margin:10px 30px ;
}
.benign{
  background-color: var(--green);
  font-size: 30px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  color: var(--white);


}
.malign{
  font-size: 30px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--green2);
}
li a {
  text-decoration: none;
  color: var(--black);
}
.info_circle{
  margin: -10px 5px -5px 0px;
  color: var(--blue);
  font-size: 20px;


}